.container-colors{
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-around !important;
}

.color-input{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.color-input label{
  font-size: 20px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

#style1 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100px;
  height: 100px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#style1::-webkit-color-swatch {
  border-radius: 15px;
  border: none;
}
#style1::-moz-color-swatch {
  border-radius: 15px;
  border: none;
}
