<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<!-- Toolbar -->
<div class="container animated container-fluid fadeIn h-full" style="padding-top: 40px;">
  <div class="alert alert-warning" *ngIf="this.f.date.value">
    <span class="tw d-flex"><strong>{{ this.f.date.value}}</strong>&nbsp; está digitando
      <span class="loading"></span>
    </span>
  </div>

  <form id="myForm" [formGroup]="formHeader" class="form-group w-100">
    <div class="form-group" style="margin-bottom: 20px !important;">
      <label for="power">Selecione o Formato</label>
      <select class="form-control" formControlName="format">
        <option *ngFor="let form of formats">{{form.label}}</option>
      </select>
    </div>

    <div class="form-group" style="margin-bottom: 20px !important;">
      <label for="power">Selecione a linguagem</label>
      <select class="form-control" formControlName="locale">
        <option *ngFor="let local of locales">{{local.label}}</option>
      </select>
    </div>

    <div class="row container-colors">
      <div class="form-group color-input">
        <input type="color" class="form-control" id="style1" formControlName="backgroundPrimary" />
        <label for="style1">background primary</label>
      </div>
      <div class="form-group color-input">
        <input type="color" class="form-control" id="style1" formControlName="backgroundSecondary" />
        <label for="style1">background interval</label>
      </div>
    </div>

    <div class="form-group w-100">
      <label for="power">Selecione a data</label>
      <date-range-picker [props]="row" [control]="date"></date-range-picker>
    </div>
    <span>
      <button type="button" class="btn btn-primary">Gerar</button>
    </span>
  </form>
</div>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
